{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" id="offer-box">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="pizzaName" value="{{ pizza.name }}">
        <button type="submit" class="btn btn-dark" style="width:100%">
          <h1 class="text-center">Offer of the day!</h1>
          <div class="row">
            <div class="col-md-8">
              <h2 class="text-center">{{ pizza.name }}</h2>
              <h3 class="text-center">{{ discounted_price}} kr</h3>
              <h4 class="text-center">50% off!</h4>
            </div>
            <div class="col-md-4">
              <img src="{% static 'images/2.png' %}" alt="Pizza" class="img-fluid">
            </div>
          </div>
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
