body {
    min-height: 100%;
    background: linear-gradient(0deg, rgba(113,22,11,0.69), rgba(113,22,11,0.69)), url(https://pbs.twimg.com/media/C4uhAZ9UYAEUSJI.jpg) ;
    background-size: cover;
}
.container {
    background-color: rgba(255,255,255,0.3);
    padding: 10px;
}
.container-footer h5 {
    color: rgba(0,0,0,0.4);
    letter-spacing: 15px;
}

.container2 {
    background-color: rgba(1,1,1,0);
}

.container-footer {
    text-align: center;
}

.pizza {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: center;
    justify-content: center;
}
.card {
    min-width: 200px;
    margin: 10px;
}

.card-body a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.topping {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
}

.landing-page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button-group {
    padding: 20px 70px;
    border-radius: 10px;
    background-color: #E3D3876E;
}

.button-group a {
    font-size: 1.5em;

}

#description {
    padding: 10px;
    text-align: justify;
    background-color: beige;
    border-radius: 10px;
    width: 600px;
    color: black;
}

.register {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register li {
    list-style: none;
}

.footer {
    width: 100%;
}

