{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2>Pizza Menu</h2>

    <div class="search">
      <form>
        <input type="text" id="searchInput" placeholder="Search pizzas...">
      </form>
    </div>

<div class="pizza">
    {% for pizza in pizzas %}
        {% include 'pizza/pizza_list_item.html' with pizza=pizza %}
    {% endfor %}
</div>

    <script>
  const searchInput = document.getElementById('searchInput');
  const cards = document.getElementsByClassName('card');

  searchInput.addEventListener('keyup', () => {
    const searchTerm = searchInput.value.toLowerCase();
    for (const card of cards) {
      const pizzaName = card.querySelector('.card-body a').textContent.toLowerCase();
      if (pizzaName.includes(searchTerm)) {
        card.style.display = '';
      } else {
        card.style.display = 'none';
      }
    }
  });
</script>
  {% endblock %}
