{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2 style="text-align: center">Pizza Menu</h2>
<div class="search-filter">
    <div class="search">
      <form>
          <label for="search">Search by name:</label>
        <input type="text" id="searchInput">
      </form>
    </div>

<form method="get">
    <label for="sort_by">Sort by:</label>
    <select name="sort_by" id="sort_by" onchange="this.form.submit()" style="min-height: 33px;border-radius: 5px;min-width: 75px">
        <option value="name" {% if request.GET.sort_by == 'name' %}selected{% endif %}>Name</option>
        <option value="price" {% if request.GET.sort_by != 'name' %}selected{% endif %}>Price</option>
    </select>
</form>
</div>



<div class="pizza">
    {% for pizza in pizzas %}
        {% include 'pizza/pizza_list_item.html' with pizza=pizza %}
    {% endfor %}
</div>

{% block more_js %}
    <script src="{% static 'js/search.js' %}"></script>
{% endblock %}
  {% endblock %}
