{% load static %}

<div class="card" style="width: 18rem;">
  <img src="{% static 'images/' %}{{ pizza.id }}.png" class="card-img-top" alt="{{ pizza.name }}">
  <div class="card-body">
    <a href="pizzas/{{ pizza.id }}">{{ pizza.name }}</a>
    <p>{{ pizza.price }},- kr</p>
    <div class="topping">
    {% for topping in pizza.toppings.all %}
        {{ topping }},
    {% endfor %}
    </div>

    <div class="add-cart">
      <form method="post">
        {% csrf_token %}
        <input type="hidden" id="pizzaName" name="pizzaName" value="{{ pizza.name }}" />
        <button type="submit" class="btn btn-success position-absolute bottom-0 end-0"><i class="bi bi-cart"></i></button>
      </form>
<!--      <a class="btn btn-success position-absolute bottom-0 end-0" href="">+</a>-->
    </div>
  </div>
</div>