{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
<h2>Checkout</h2>
<div class="pizza">
    {% for pizza in pizzas %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ pizza.name }} - {{ pizza.price }},- kr</h5>
            <p class="card-text">
              {% for topping in pizza.toppings.all %}
                <i>{{ topping }},</i>
              {% endfor %}
            </p>
            <p class="card-text quantity" data-pizza-id="{{ pizza.id }}">Quantity: x {{ pizza_counts|get_pizza_count:pizza.name }}</p>
            <button class="add-pizza" data-pizza-id="{{ pizza.id }}" data-pizza-price="{{ pizza.price }}">+</button>
            <button class="remove-pizza" data-pizza-id="{{ pizza.id }}" data-pizza-price="{{ pizza.price }}">-</button>
          </div>
        </div>
    {% endfor %}

    <div class="card"><b>Samtals: </b> <span id="total-price">{{total_price}}</span>,- kr</div>
</div>

    <!-- Order Now Button -->
    <div class="d-flex justify-content-center mt-5">
        <a href="{% url 'payment_options' %}" class="btn btn-primary">Order Now</a>
    </div>

{% block extra_js %}
    <script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}
{% endblock %}
